.div1 {
    background-color: aqua;
}

table {
   
    margin-left: 655px;
    background-color: black;
    color: whitesmoke;
}

button {
    text-align: center;
    /* margin-left: 500px; */
    width: 90px; 
    height: 90px;
    background-color: black;
    color: whitesmoke;
}

.div2 {
    background-color: black;
    color: gray;
    padding-top: 30px;
    margin-left: 655px;
    margin-right: 560px;
    height: 80px;
    font-size: 60px;
    text-align: center;
    
    margin-top: 100px;
    width: 385px;
    
}