* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header {
    position: sticky;
}

.div1 {
    border: 1px solid black;
    background-color: white;
    
    /* width: 1200px; */
    margin-left: 280px;
    margin-right: 280px;
    margin-top: 5px;
    /* overflow: scroll; */
  
    /* margin-bottom: 0px; */
}
.cls1 {
    display: inline;
}

h4 {
   
    margin-right: 540px;
    float: left;
   /* display: inline-block;  */
    background-color: white;
    display: inline;
    /* margin-left: 3px; */
    width: 140px;
    margin-top: 8px;
  
    
}

.icons {
    float: right;
    /* margin-top: 3px; */
    /* margin-left: 1300px; */
    margin-right: 100px;
    margin-top: 20px;
    
 } 
h6 {
    /* background-color: blue; */
    /* display: inline-block; */
    /* float: right; */
    
    margin-top: 0px;
    text-align: center;
    margin-left: 2px;
    width: 70px;
    /* margin-top: 3px; */
}

.container {
    /* position: fixed; */
    top: 0px;
    left: 2px; 
    overflow: scroll;
    width: 100%;
    margin-top: 0px;
    height: 173vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  
}

.img1 {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    /* display: inline-block; */
    text-align: left;
    margin-left: 50px;
    /* position: sticky; */
    
    
}

.chatbox {
    background: #1d61c2;
    width: 63%;
    min-width: 250px;
    display: flex;
    
}

.col-1 {
    flex: 1;
    
}

.col-2 {
    flex-basis: 250px;
    background: #3874c9;
    /* overflow: scroll; */
}

.msg-row {
    display: flex;
    align-items: center;
    margin: 40px;
    

    
}

.msg-text {
   background: rgba(255, 255,255,0.1);
   padding: 20px 40px;
   border-radius: 8px;
   flex-basis: 70%;
   font-weight: 300;
   
}

.msg-text h2 {
   font-weight: 400;
   font-size: 22px;
   margin-bottom: 10px;
   

}

.msg-img {
    width: 50px;
    border-radius: 50%;
    margin: 0 20px;
}

.msg-row2 {
    justify-content: flex-end;
    
}

.col-1 input {
    border: 0;
    outline: none;
    padding: 20px 40px;
    background:#3874c9;
    color: #fff;
    width: 100%;
    font-size: 16px;
    font-weight: 300;
    

}

::placeholder {
    color: #fff;

}

.col-2 h3 {
    text-align: center;
    margin-top: 40px;
    font-weight: 400;
}

.col-2 ul {
    list-style: none;
    padding: 30px;
}

.col-2 ul li {
    padding: 5px 0;
}

.col-2 ul li::before {
     content: '';
     width: 10px;
     height: 10px;
     border-radius: 50%;
     background: red;
     display: inline-block;
     margin-right: 10px;

}

.col-2 ul li.online::before{
    background-color:greenyellow ;
}
.col-2 ul li.offline::before{
    background-color:tomato ;
}
.col-2 ul li.busy::before{
    background-color:yellow ;
}

.cls1 {
    margin-top: 0px;
}
