* {
    margin: 0;
}

.div1 {
    height: 20px;
    background-color: black;
}

.div2 {
    text-align: left;
    color: white;
    margin-left: 60px;
}

.div3 {
    margin-left: 50px;
    margin-right: 50px;
    background-color: aqua;
    height: 500px;
    border: 2px solid darkgray;
}

img {
    
    float: left;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    /* display: inline-block; */
}

/* .div4 {
    border: 2px solid darkgray;
    width: 300px;
    /* height: 300px; */
    /* display: inline; */
/* }  */

.div5 {
    width: 900px;
    float: left;
    /* display: inline; */
   
}


h2 {
    /* display: inline; */
    /* margin-top: 10px; */
    /* float:center; */
    text-align: left;
    /* margin-right: 1200px; */
    width: 200px;
    
    
    
}

p {
    /* display: inline; */
}