* {
    margin: 0;
}

.div1 {
    height: 20px;
    background-color: black;
}

.div2 {
    text-align: left;
    color: white;
    margin-left: 60px;
}

.div3 {
    margin-left: 50px;
    margin-right: 50px;
    background-color: aqua;
    height: 500px;
    border: 2px solid darkgray;
}

img {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.div4 {
    border: 2px solid darkgray;
    width: 300px;
    display: inline-block;
}


h2 {
    display: inline;
    margin-top: 10px;
    float:right;
    margin-right: 950px;
    
    
}

p {
    display: inline;
}