* {
    margin: 0;
}


ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    background-color:black;
}

ul li {
    width: 100%;
    text-align: center;
    position: relative;
}

ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;

}

.drop-down {
    position: absolute;
    width: 100%;
    flex-wrap: wrap;
    visibility: hidden;
    left: 0;
    top: -600%;
    

}

ul li:hover .drop-down {
    visibility: visible;
    top:100% ;
}

.drop-down2 {
    position: absolute;
    left: 150%;
    width: 100%;
    top: 0;
    flex-wrap: wrap;
    visibility: hidden;
}

.drop-down li:hover .drop-down2 {
    left: 100%;
    visibility: visible;

}
