* {
    margin: 0;
    padding: 0;
    background-color: brown;
}

h1 {
    background-color: blue;
    text-align: center;
    font-family: cursive;
}

li {
    font-size: x-large;
    margin-bottom: 20px;
    font-family: cursive;
}

ul {
   margin-left: 700px;
  
}
input
 {
    margin-left: 680px;
    padding: 10px;
    background-color: aqua;

 }
 button {
     background-color: aqua;
     padding: 10px;
 }

 