nav {
    
    height: 70px;
    margin-bottom: 40px;
}

.item1 {
    float: right;
    
}

.fa-video {
    margin-right: 40px;
}
img {
    
   padding-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    
}
i {
    margin-top: 40px;
   font-size: 30px;
   margin-right: 10px;
}
input {
    width: 700px;
    height: 50px;
}
.fa-magnifying-glass {
    background-color: gray;
    padding: 7px 25px 19px 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.fa-microphone {
    margin-left: 30px;
}
div {
    display: flex;
    flex-direction: row;
    justify-content:  space-evenly;
    
}
.item {
    background-color: gray;
    padding: 10px 30px;
    border-radius: 15px;
}
.video1 {
    display: flex;
    justify-content: left;
}
.video2 {
    
    display: flex;
    justify-content: left;
    
}
.img2 {
    border-radius: 50%;
}
 .video5 {
    margin-top: 2px;

    /* margin-left: 0px;
   padding-left: 0px; */
   
} 
ul {
    list-style: none;
}
